@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");
.germ {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.prt {
	font-family: "Protest Revolution", sans-serif;
	font-weight: 400;
	font-style: normal;
}
#HeadlineWrapper {
	background-image: url("https://raw.githubusercontent.com/jpbhatt21/textp3d/refs/heads/main/gb/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position: top;
	aspect-ratio: 4 !important;
	align-items: center;
}
#MainContentHeader{
	aspect-ratio: 4 !important;
}
#Breadcrumb{
	display: none;
}
#PageTitle {
	max-width: fit-content;
	backdrop-filter: blur(2px);
	padding-inline: 20px;
	border-radius: 6px;
	color: #cdb896;
	font-family: "Germania One", system-ui;
	font-weight: 400;
	font-style: normal;
	display: hidden;
}
#BodyWrapper {
	backdrop-filter: blur(10px);
	background: #0c0a0988;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#PrimaryNav {
	max-width: 1200px;
	backdrop-filter: blur(10px);
	background: #0c0a0988;
}
#SecondaryNav {
	right: max(calc(50% - 600px),0px) !important;
	backdrop-filter: blur(10px);
	background: #0c0a0988;
}
#MainContent {
	max-width: 1200px;
	background: none;
}
body {
	background: url("https://raw.githubusercontent.com/jpbhatt21/textp3d/refs/heads/main/gb/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#PageFooter{
    background: #0c0a0955;
}
#SiteLogo > :last-child {
  content: url("new-image.jpg");
}
svg:has(#NsfwPreview) {
	display: none;
}